{% extends 'base.html.twig' %}

{% block title %}Roulement index{% endblock %}

{% block body %}

<div class="flex flex-col justify-center items-center p-6">

    <div class="flex flex-col justify-between items-center p-2 w-full bg-sky-200 rounded-xl mb-8">    
        <div class="flex justify-between items-center p-2 gap-4 w-full mb-6">
            <div class="flex gap-2">
                <a href="{{ path('app_roulement_index')}}"><button class="btn bg-sky-600 hover:bg-sky-300 border-0">RESET</button></a>        
                <a href="{{ path('app_roulement_user') }}"><button class="btn bg-sky-400 hover:bg-sky-300 border-0">EXEMPLE VUE PERSO</button></a>        
            </div>

            <a href="{{ path('app_user_index') }}"><p class="text-4xl">👤</p></a>
        </div>
    </div>

    <div class="flex justify-between items-center p-2 gap-4 w-full mb-6">

        {# =============== Jour férié ============== #}
        <div class="flex flex-col gap-2 bg-orange-200 p-4 rounded-xl">

            <p class="font-bold undeline text-orange-600 text-lg text-center mb-2 pb-2 border-b-2 border-b-orange-600">Jour fériés du mois</p>

            <ul>
                {% for day in ferie %}
                    {% if day.date|date('m') == "now"|date('m') %}
                        <li>{{ day.label }} ( {{ day.date|date('d/m') }} )</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <form action="#" method="get" class="w-3/6">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" id="search" name="search" value="{{ searchTerm }}" class="grow" placeholder="Rechercher un utilisateur" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
            </label>
        </form>
    </div>

    {# ============== FORMAT ET TRI DATES ============== #}
    {% set dates = [] %}  
    {% set datesFormatted = [] %}  
    {% set dayTraduction = {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche'} %}
   
    {% for user in users %}
        {% for roulement in user.roulements %}
            {% if roulement.date|date('d-m-Y') not in dates %}
                {% set dates = dates|merge([roulement.date|date('d-m-Y')]) %}
            {% endif %}        
        {% endfor %}
    {% endfor %}
    
    {# ! {{dump(dates)}} #}

    {% for day in dates %}
        {% set datesFormatted = datesFormatted|merge([date(day)]) %}
    {% endfor %}

    {% set dateSorted = datesFormatted|sort %}

    {# ================= TABLE ================== #}
    <table class="table">
        <thead>
            <tr class="text-center">
                <th></th>
                {% for day in dateSorted|slice(-7) %}
                    <th class="uppercase font-bold text-slate-950">
                        <div>
                            <p>{{ dayTraduction[day|date('l')] }}</p>
                            <p>{{ day|date('d/m') }}</p>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% for user in users %}
        <tbody class="">
            <tr class="border-y-2">
                <td class="w-1/3 font-bold text-slate-950">{{ user.username }}</td>
                {% for day in dateSorted|slice(-7) %}
                <td class="">
                    {% for roulement in user.roulements %}
                        {% if roulement.date == day %}
                            <div class="text-center">
                                {% if roulement.service.label|slice(-1) != 'S' and roulement.service.label|slice(-1) != 'M'%}
                                    <p class="bg-sky-300 font-bold">{{ roulement.MatinSoir }}</p>
                                {% else %}
                                    <p class="bg-sky-300 font-bold">{{ roulement.service.label }}</p>
                                {% endif %}
                                <p class="bg-sky-200">{{ roulement.priseDeService|date('H:i')}}</p>
                                <p class="bg-sky-200">{{ roulement.finDeService|date('H:i')}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>  
                {% endfor %}  

            </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun roulement correspondant</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
