{% extends 'base.html.twig' %}

{% block title %}Roulement index{% endblock %}

{% block body %}

<div class="flex flex-col justify-center items-center p-6 bg-sky-100">

    <div class="flex flex-col justify-between items-center p-2 w-full bg-sky-200 rounded-xl mb-8">    
        <div class="flex justify-between items-center p-2 gap-4 w-full mb-6">
            <div class="flex gap-2">
                <a href="{{ path('app_roulement_index')}}"><button class="btn bg-sky-600 hover:bg-sky-300 border-0">RESET</button></a>        
                <a href="{{ path('app_roulement_user') }}"><button class="btn bg-sky-400 hover:bg-sky-300 border-0">EXEMPLE VUE PERSO</button></a>        
            </div>

            {# <form action="#" method="get" class="w-2/6 flex gap-2">
                <input type="number" id="range" name="range" value="{{ range }}" min="1" max="14" class="w-[50px] text-center font-bold rounded-lg"/>
                <button class="btn bg-sky-400 hover:bg-sky-300 border-0">Nombres de jour à afficher</button>
            </form> #}

            <a href="{{ path('app_user_index') }}"><p class="text-4xl">👤</p></a>
        </div>
    </div>
    <div class="flex justify-between items-center p-2 gap-4 w-full mb-6">

        <div class="flex flex-col gap-2 bg-red-200 p-4 rounded-xl">

            <p class="font-bold undeline text-red-600 text-lg text-center mb-2 pb-2 border-b-2 border-b-red-600">Jour fériés du mois</p>

            <ul>
                {% for day in ferie %}
                    {% if day.date|date('m') == "now"|date('m') %}
                        <li>{{ day.label }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <form action="#" method="get" class="w-3/6">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" id="search" name="search" value="{{ searchTerm }}" class="grow" placeholder="Rechercher un utilisateur" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
            </label>
        </form>
    </div>

    {# ==================== TABLEAU ===================== #}

    <table class="table">
        <thead>
            <tr>
                <th class=""></th>
                <th class="text-center text-xl font-bold">Lun</th>
                <th class="text-center text-xl font-bold">Mar</th>
                <th class="text-center text-xl font-bold">Mer</th>
                <th class="text-center text-xl font-bold">Jeu</th>
                <th class="text-center text-xl font-bold">Ven</th>
                <th class="text-center text-xl font-bold">Sam</th>
                <th class="text-center text-xl font-bold">Dim</th>
            </tr>
            <tr class="text-xl text-center">
                <th></th>          
            {% for user in users|slice(0, 1) %}
                {% for roulement in user.roulements %}        
                    <th class="border-2 border-black bg-sky-400">{{ roulement.date ? roulement.date|date('d-m-Y') : '' }}</th>
                {% endfor %}
            {% endfor %}
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr class="">
                <td class="text-lg text-center border-1 border-black bg-sky-400 w-1/3">{{ user.username }}</td>
                {% if user.roulements is not empty %}
                    {% for roulement in user.roulements %}

                        <td class="bg-sky-300 text-xl text-center border-2 border-black p-0 flex flex-col">
                            {% if roulement.service.label|slice(-1) != 'S' and roulement.service.label|slice(-1) != 'M'%}
                                <p class="bg-purple-400 text-2xl font-bold">{{ roulement.MatinSoir }}</p>
                            {% else %}
                                <p class="bg-purple-400 text-2xl font-bold">{{ roulement.service.label }}</p>
                            {% endif %}
                            <p class="{{ roulement.priseDeService|date('H:i') is same as '00:00' ? 'text-gray-400 bg-gray-400' : 'bg-green-500 text-slate-50'}}">{{ roulement.priseDeService ? roulement.priseDeService|date('H:i') : '' }}</p>
                            <p class="{{ roulement.finDeService|date('H:i') is same as '00:00' ? 'text-gray-400 bg-gray-400' : 'bg-orange-400 text-slate-50'}}">{{ roulement.finDeService ? roulement.finDeService|date('H:i') : '' }}</p>
                        </td>                    

                    {% endfor %}
                {% else %}
                    <td class="bg-blue-200 text-2xl font-bold border-1 border-black"></td>
                {% endif %}   
            </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="bg-sky-300 text-xl text-red-500">Aucun roulement correspondant</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
