{% extends 'base.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block body %}

<div class="flex flex-col justify-center p-1 items-center gap-6">

    <div class="flex justify-between items-center px-6 gap-4 w-full my-6">
        <p class="text-xl font-bold">Bonjour, {{ user }}</p>
        <a href="{{ path('app_logout') }}" class="text-xl"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr class="bg-gray-800 text-white md:text-xl">
                <th>Date</th>
                <th>Service</th>
                <th>Prise de service</th>
                <th>Fin de service</th>
            </tr>
        </thead>
        <tbody>
        {% for roulement in roulements %}
            <tr class="bg-gray-50 hover:bg-gray-200">
                <td>{{roulement.date|date('d-m-Y')}}</td>
                {% if roulement.service.label|slice(-1) != 'S' and roulement.service.label|slice(-1) != 'M'%}
                    <td >{{ roulement.MatinSoir }}</td>
                {% else %}
                    <td>{{ roulement.service.label }}</td>
                {% endif %}
                <td>{{roulement.priseDeService|date('H:i')}}</td>
                <td>{{roulement.finDeService|date('H:i')}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun roulement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
